@model IEnumerable<TrainBooking.Models.StationRouteModels.StationRouteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2></h2>


<table class="table  table-hover table-condensed">
    <tr class="row">
        <th>
            @Html.DisplayNameFor(model => model.DepatureDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr class="row">
            <td>
                @Html.DisplayFor(modelItem => item.DepatureDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
            <td></td>
        </tr>
    }

</table>
