@model IEnumerable<TrainBooking.Models.WagonTypeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Типы вагонов</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table  table-hover table-condensed">
    <tr class="row">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPlaces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coefficient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="row">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPlaces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coefficient)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>
